body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #171717;
}
.main-menu{
    height: 60px;
    width:100%;
    box-sizing: border-box;
}
.menu-level-1{
    margin:0;
    padding:0;
    height:inherit;
    display: flex;
    align-items: center;
}
.menu-level-1 li{
    list-style: none;
}
.main-menu-logo{
    width:160px;
    height:inherit;
    margin-right:10px;
    margin-top:5px;
}
.main-menu-logo .navigation-logo img{
    width:100%;
}
.main-menu-search{
    width:calc(100vw - 550px);
    box-sizing: border-box;
    height:30px;
}
.main-menu-search form{
    height: inherit;
}

.main-menu-search form input{
    color:#fff;
    background-color: transparent;
    width:100%;
    height: inherit;
    padding-left:30px;
    border-radius: 3px;
    border:1px solid #333;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png);
    background-repeat:no-repeat;
    background-size: 10px;
    background-position-x: 10px;
    background-position-y: 9px;
}
.main-menu-search form input:active{
    border-color: #13aff0;
    outline: none;
}

.main-menu-bar-item{
    height:inherit;
}
.main-menu-bar-item-list{
    width:380px;
    height:inherit;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:1rem;
    padding-left:20px;

}
.main-menu-item-list{
    padding:0 13px;
    font-size:0.9rem;
    cursor:pointer;

    height:inherit;
    transition:200ms;
    display: flex;
    align-items: center;

    transition:500ms;

    position:relative;

}

.main-menu-item-list:hover{
    color:#13aff0;
}
.main-menu-item-list:active{
    color:#13aff0;
}
.main-menu-item-list.open{
    background-color:#333;
}
.main-menu-bar-item-list .drop-down-menu{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    list-style:none;
    padding:0 10px 4px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.75);
    color:#bbb;
    
}
.main-menu-bar-item-list .drop-down-menu.showList{
    display:block;
    background-color:#333;
    min-width:120px;
    max-height:80vh;
    border-radius:0 0 2px 2px;
}
.drop-down-menu .drop-down-style{
    margin:10px;

    transition:500ms;
}
.drop-down-menu .drop-down-style:hover{
    background-color:black;
    color:#fff;
    width:100%;
}
.main-menu-item-list span{
    padding-left:5px;
}
.notification{
    position:relative;
}
.notification:after{
    content:"10";
    font-size: 0.6rem;
    font-weight:bold;

    display:flex;
    justify-content: center;
    align-items: center;

    min-width:16px;
    height:16px;
    background-color:red;
    border-radius:50%;

    position: absolute;
    bottom:1px;
    left:10px;
}
.main-menu-item-list img{
    width:30px;
    border-radius: 50%;
}
.main-menu-item-list .fa-chevron-down{
    padding-left:5px;
    font-size:0.7rem;

    /* transform:rotateZ(180deg); */
}