:root{
    --bluecolor:#13aff0;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #171717;
    color:#bbb;
}
a{
    color:#fff;
    text-decoration: none;
}
.main-menu{
    height: 60px;
    width:100%;
    box-sizing: border-box;
}
.menu-level-1{
    margin:0;
    padding:0;
    height:inherit;
    display: flex;
    align-items: center;
    border-bottom:1px solid #333;
}
.menu-level-1 li{
    list-style: none;
}
.menu-level-1 .main-menu-button button{
    display:none;
}
.main-menu-logo{
    width:160px;
    height:inherit;
    margin-right:10px;
    margin-top:5px;
}
.main-menu-logo .navigation-logo img{
    width:100%;
}
.main-menu-search{
    width:calc(100vw - 550px);
    box-sizing: border-box;
    height:30px;
}
.main-menu-search form{
    height: inherit;
}

.main-menu-search form input{
    color:#fff;
    background-color: transparent;
    width:100%;
    height: inherit;
    padding-left:30px;
    border-radius: 3px;
    border:1px solid #333;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png);
    background-repeat:no-repeat;
    background-size: 10px;
    background-position-x: 10px;
    background-position-y: 9px;
}
.main-menu-search form input:active{
    border-color: var(--bluecolor);
    outline: none;
}

.main-menu-bar-item{
    height:inherit;
}
.main-menu-bar-item-list{
    width:380px;
    height:inherit;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:1rem;
    padding-left:20px;

}
.main-menu-item-list{
    padding:0 13px;
    font-size:0.9rem;
    cursor:pointer;

    height:inherit;
    transition:200ms;
    display: flex;
    align-items: center;

    transition:500ms;
    position:relative;

}

.main-menu-item-list:hover{
    color:var(--bluecolor);
}
.main-menu-item-list:active{
    color:var(--bluecolor);
}
.main-menu-item-list.active{
    background-color:#333;
}

.main-menu-bar-item-list .drop-down-menu{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    list-style:none;
    padding:0 0 4px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.75);
    color:#bbb;
    z-index:1;
    
}
.main-menu-bar-item-list .drop-down-menu.showList{
    display:block;
    background-color:#333;
    min-width:120px;
    max-height:80vh;
    overflow-y: auto;
    border-radius:0 0 2px 2px;
}
.drop-down-menu .drop-down-style{
    box-sizing: border-box;
    padding:10px;
    transition:200ms;
}
.drop-down-menu .drop-down-style:hover{
    background-color:black;
    border-left: 2px solid var(--bluecolor);
    color:#fff;   
}
.notification-list .notification-unique{
    border-bottom:2px solid var(--bluecolor);
}
.notification-list{
    display: flex;
}
.notification-list-options{
    width:34px;
    height:34px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition:300ms;
}
.notification-list-options:hover{
    color:#fff;
}
.notification-description{
    padding:6px 8px;
    font-size:0.7rem;
    background-color:#262626;
    color : #747474;
    text-transform:uppercase;
    border-bottom:1px solid #333;
}
.notification-lastOption{
    width:100%;
    text-align:center;
    padding:10px;
    color:#747474;
    border-top:1px solid #262626;
    box-sizing:border-box;
}
.main-menu-item-list span{
    padding-left:5px;
}
.notification{
    position:relative;
}
.notification:after{
    content:"10";
    font-size: 0.6rem;
    font-weight:bold;

    display:flex;
    justify-content: center;
    align-items: center;

    min-width:16px;
    height:16px;
    background-color:red;
    border-radius:50%;

    position: absolute;
    bottom:1px;
    left:10px;
}
.main-menu-item-list img{
    width:30px;
    border-radius: 50%;
    padding-right:5px;
}
.main-menu-item-list .fa-chevron-down{
    font-size:0.7rem;
    transition:0.15s ease-in-out;
}
.main-menu-item-list .fa-chevron-down.turn{
    transform:rotateZ(180deg);
    color:var(--bluecolor);    
}
.dataBox{
    width:198px;
}
.drop-down-section{
    box-sizing: border-box;
    padding:10px;
    text-transform: uppercase;
    color:#747474;
    font-size:0.8rem;
    cursor: default;
}
.userIcons{
    margin-right: 6px;
}
.drop-down-divider{
    height:1px;
    margin:11px 0;
    background-color:#5d5d5d;
}
.aboutBox{
    width:176px;
}

.secondHeader{
    height:50px;
    width:100%;
    background-color:#101010;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    overflow-x:auto;
}
.secondHeader-List{
    width:80%;
    height:inherit;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondHeader-List .main-menu-item-list{
    width:200px;
    justify-content: center;
}
.secondHeader-List .main-menu-item-list:hover{
    background-color:#171717;
}
.secondHeader span{
    margin-left:2px;
    text-transform: uppercase;
    color:#fff;
}
.main-menu-item-list button{
    text-transform:uppercase;
    color:#fff;
    background-color: var(--bluecolor);
    border-style: none;
    border-radius:3px;
    height:30px;
    cursor: pointer;
}
@media screen and (max-width:2200px){

}
@media screen and (max-width:1200px){
    .secondHeader-List{
        width:100%;
        padding-left:0;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 768px){
    .secondHeader-List{
        /* justify-content: flex-start; */
        padding-left:0;
    }
}
@media screen and (max-width:767px){
.main-menu-search{
    display:none;
}
.main-menu-bar-item .noFlex{
    display:none;
}
.main-menu-bar-item-list {
    width:initial;
}
.menu-level-1{
    display:flex;
    justify-content: space-between;
}
.menu-level-1 .main-menu-button button{
    display:block;
}
.main-menu-button{
    height:inherit;
    width:78px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 15px;
}
.menu-level-1 .main-menu-hamburger{
    display:block;
    padding:0 15px;
    min-width:78px;
    height:100%;
    outline:0;
    background: transparent;
    border:0;

    position: relative;
}
.main-menu-hamburger .line{
    box-sizing:border-box;
    width:20px;
    height:2px;
    position:absolute;
    background-color:#979797;   
    transition:0.25s ease-in-out;
}
.line:nth-child(2){
    transform:translateY(5px);
}
.line:nth-child(3){
    opacity:1;
}
.line:first-child{
    
    transform:translateY(10px);
    opacity: 1;
}

.main-menu-hamburger.open .line:first-child{
    transform:translateY(20px);
    opacity: 0;
}
.main-menu-hamburger.open .line:nth-child(3){
    transform:translateY(-20px);
    opacity: 0;
}
.main-menu-hamburger.open .line:nth-child(2){
    transform:rotateZ(45deg);
}
.line:nth-child(4){
    opacity:0;
}
.main-menu-hamburger.open .line:nth-child(4){
    opacity:1;
    transform:rotateZ(-45deg);
}
.main-menu-hamburger-submenu{
    background-color:#101010;
    width:100%;
    /* position:absolute;
    top:100%;
    left:0; */
}
/* .main-menu-mobile{
    width: inherit;
    display: flex;
    justify-content: flex-start;
    padding:10px 0;
    position: absolute;
    top:10%;
    border-bottom:1px solid #333;
}
.main-menu-mobile-button{
    width:16.667%;
    border-right:1px solid #333;
}
.main-menu-bar-item-list .drop-down-menu{
    width:100vw;
} */

.secondHeader{
    display:none;
}

}